@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-section {
    animation: slideIn 1s ease-out forwards;
  }