@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-section {
    animation: slideIn 1s ease-out forwards;
  }

/* Existing CSS */
.prose {
  font-family: 'Georgia', serif;
  line-height: 1.75;
  font-size: 1.125rem; /* Increased font size */
}


.prose-invert {
  color: #f5f5f5;
}

.prose h1 {
  color: #ffffff;
  font-size: 2.25rem; /* Increased font size */
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.prose ul{
  list-style-type: disc; /* Add bullet point */
  padding-left: 20px; /* Add padding to the list */
}
.prose ul li{

  color: #d1d5db;
  font-size: 1.25rem;
  margin: 5px;

}

.prose h2 {
  color: #eaeaea;
  font-size: 1.75rem; /* Increased font size */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.prose h3 {
  color: #eaeaea;
  font-size: 1.5rem; /* Increased font size */
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.prose p {
  color: #d1d5db;
  margin-bottom: 1rem;
}

.prose a {
  color: #f59e0b;
}

.prose a:hover {
  text-decoration: underline;
}

.prose code {
  background-color: #282a36; /* Dracula theme background */
  color: #f8f8f2; /* Dracula theme text color */
  padding: 0.2rem 0.4rem;
  border-radius: 0.375rem;
}

.prose pre {
  position: relative; /* Add relative positioning for copy button */
  background-color: #282a36; /* Dracula theme background */
  color: #f8f8f2; /* Dracula theme text color */
  padding: 1rem;
  border-radius: 0.375rem;
  overflow-x: auto;
  font-size: 0.875rem; /* Slightly increased font size */
}

.prose pre code {
  background-color: transparent; /* Remove background color from inline code within pre */
  padding: 0;
  border-radius: 0;
}

/* New CSS for copy button */
.copy-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #f8f8f2;
  color: #282a36;
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  opacity: 0.75;
}

.copy-button:hover {
  opacity: 1;
}

.container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
